<p id="notice"><%= notice %></p>
<h1>Mini blog</h1>
<%= form_for @blog, action:'create' do |f| %>
  <%= f.text_field :body, size: "80%",placeholder:"投稿しよう"%>
  <%= f.submit value:"投稿する"%>
<% end %>
<hr>
<ul id="blogs">
  <% @blogs.each do |blog| %>
    <li class="blog">
      <span><%= blog.id %></span>
      :
      <span class="body">
        <%= link_to blog.body, blog_path(blog) %>
      </span>
      <br>
      <span class="like">
        <!-- <%= link_to 'いいね', "/blogs/#{blog.id}/good_count_up"  %> -->
        <%= link_to 'いいね',blog_path(blog.id),method: :post %>
        <%= blog.like %>
        |
      </span>
      <span class="comment">
        コメント数:
        <%= Reply.where(blog_id: blog.id).size %>
        |
      </span>
      <span class="post-date">
        投稿日時:
        <%= blog.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
      </span>
    </li>
  <% end %>
</ul>
<br>
