<p id="notice"><%= notice %></p>
<h1>Mini blog</h1>
<%= link_to '戻る', blogs_path %>
<p>
  <div class="blog-detail">
    <span>
      <%= @blog.id %>
      :
    </span>
    投稿日時:
    <%= @blog.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
    |
    <%= link_to 'いいね',blog_path(@blog.id),method: :post %>
    <%= @blog.like %>
    <br>
    <strong>
      <%= @blog.body %>
    </strong>
  </div>
</p>

<%= form_for @reply, action:'create' do |f| %>
  <%= f.text_field :comment,size:'80%',placeholder:'コメントしよう' %>
  <%= f.hidden_field :blog_id, :value => @blog.id %>
  <%= f.submit value:"コメントする" %>
<% end %>
<hr>

<ol id="replies">
  <% @replies.each do |reply| %>
  <li class="reply">
    <span class="comment">
      <%= reply.comment %>
    </span>
    <span class="post-date">
      投稿日時:
      <%= reply.created_at.strftime('%Y/%m/%d %H:%M:%S')%>
    </span>
  </li>
  <% end %>
</ol>
